
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');
  body{
    font-family: 'Roboto', sans-serif;
  }
.profile {
  width: 180px;
  height: 300px;
}

nav {
  background-color: antiquewhite;
}

footer {
  background-color: antiquewhite;
}
.fontSize1 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #212529;
}
.hover_color{
  color: #212529;
}
.hover_color:hover{
  color: #7e8080;
}
